#!/bin/zsh

COMMAND="gopass"
DEST="$HOME"/bin/"$COMMAND"
VERSION="1.14.6"
OS={{ if eq .chezmoi.os "linux" }}"linux-amd64"{{ else if eq .chezmoi.os "darwin" }}"darwin-amd64"{{ end }}

if [ ! -f "$DEST" ]; then

curl -Ls https://github.com/gopasspw/gopass/releases/download/v"$VERSION"/gopass-"$VERSION"-"$OS".tar.gz | tar xzO gopass > "$DEST"
chmod +x "$DEST"
echo "${COMMAND} has been installed"

fi