#!/bin/zsh

COMMAND="fzf"
DEST="$HOME"/bin/"$COMMAND"
VERSION="0.33.0"
OS={{ if eq .chezmoi.os "linux" }}"linux_amd64"{{ else if eq .chezmoi.os "darwin" }}"darwin_amd64"{{ end }}

if [ ! -f "$DEST" ]; then

{{ if eq .chezmoi.os "linux" }}
curl -Ls https://github.com/junegunn/fzf/releases/download/"$VERSION"/fzf-"$VERSION"-"$OS".tar.gz | tar xzO - fzf > "$DEST"
{{ else if eq .chezmoi.os "darwin" }}
unzip -qq -j -d $HOME/bin =( wget -qO- https://github.com/junegunn/fzf/releases/download/"$VERSION"/fzf-"$VERSION"-"$OS".zip ) fzf
{{ end }}

chmod +x "$DEST"
echo "${COMMAND} has been installed"

fi