{{ if eq .chezmoi.os "darwin" }}#!/bin/zsh

COMMAND="hcloud"
DEST="$HOME"/bin/"$COMMAND"
VERSION="v1.30.3"

if [ ! -f "$DEST" ]; then

curl -Ls https://github.com/hetznercloud/cli/releases/download/"$VERSION"/hcloud-darwin-amd64.tar.gz | tar xzO - hcloud > "$DEST"
chmod +x "$DEST"
echo "${COMMAND} has been installed"

fi
{{ end }}